*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
    scroll-behavior: smooth;
}

body {  
    font-size: 16px;
}

header img{
    width: 40%;
    margin: 0 auto;
    display: block;
}

nav{
    position: sticky;
    top: 0;
    background-color: white;
}

nav ul{
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top: 3px;
}

nav ul li{
    list-style: none;
    margin: 0 05px;
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

#aboutme{
    min-height: 700px;
    background-image: url(photo/omnie.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 0 10%;
}

#aboutme h1{
    font-size: 20px;
    padding: 30px 0 30px 0;
    text-align: center;
    color: white;
}

#aboutme p {
    font-size: 18px;
    color: white;
}

#portfolio{
    margin: 0 10%;
}

#portfolio h1{
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
}

#portfolio div{
    border: 1px solid gray;
    margin-bottom: 15px;
}

#portfolio div p{
    margin: 0 10%;
}

#portfolio div img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

#media{
    min-height: 250px;
    background-image: url(photo/purple.jpg);
    background-attachment: fixed;
    background-position: center;
    
}

#media a:link{
    text-decoration: none;
}

#media a:visited{
    color: white;
}

#media h1{
    padding: 30px 0 10px 0;
    color: white;
    text-align: center;
}

#media p {
    text-align: center;
    color: white;
    padding-top: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0 5% 0 5%;
}

@media (min-width: 550px){
    header img{
        width: 45%;
    }

    nav ul li a{
        font-size: 20px;
    }

    #aboutme h1{
        font-size: 24px;
    }

    #aboutme p{
        font-size: 24px;
        padding-bottom: 20px;
    }

    #portfolio h1{
        font-size: 22px;
    }
}

@media (min-width: 768px){
    header img{
        width: 35%;
    }
    #portfolio div{
        width: 49%;
        display: inline-block;
    }

    #portfolio p {
        font-size: 22px;
    }
}

@media (min-width: 1024px){
    nav a:hover{
        border-bottom: 1px solid blueviolet;
        color: blueviolet;
        transition: 0.3s;
    }

    nav ul li{
    margin: 0 10px;
    }

    nav ul{
        height: 35px;
    }

    #aboutme h1{
        font-size: 26px;
    }

    #aboutme p{
        font-size: 26px;
        padding-bottom: 20px;
    }

    #portfolio h1{
        font-size: 26px;
    }

    #portfolio div{
        width: 30%;
    }

    #media i {
        font-size: 24px;
    }

    #media h1{
        font-size: 26px;
    }

    footer{
        font-size: 22px;
    }
}

@media (min-width: 1440px){
    header img{
        width: 15%;
    }

    nav{
        margin-bottom: 10px;
    }

    nav ul li a{
        font-size: 24px;
    }

    #aboutme{
        padding: 20px 20%;
    }

    #aboutme h1{
        font-size: 28px;
    }

    #aboutme p{
        font-size: 28px;
    }

    #portfolio{
        text-align: center;
    }

    #portfolio h1{
        font-size: 28px;
    }

    #media i {
        font-size: 26px;
    }

    #media h1{
        font-size: 28px;
    }

    footer{
        font-size: 26px;
    }

}